.burger {
    display: none;
    height: fit-content;
  width: 24px;
  /* height: 16px; */
  cursor: pointer;
  transition: all .3s;
}

.burger_line{
    width: 24px;
    height: 2px;
    background-color: #0C5C9D;
    transition: all .3s;

}

.burger_line_center{
    margin: 5px 0;
}
.burger:hover .burger_line{
    background-color: black;
}
@media (max-width:900px) {
    .burger{
      display: block;
    }
}