.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* padding-top: 7%; */
  display: flex;
  align-items: end;
}

.container {
  /* min-height: 2160px; */
  max-width: 4000px;
  padding: 0 10px;
}
/* ------------------------------------------------------ main-screen ------------------------------------------------------ */
.main-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffff;
  z-index: 1;
}
.main-screen--unvisible {
  display: none;
}
.main-screen .content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em;
}
.main-screen .gif-bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gif-bg img {
  height: 100%;
  width: 100%;
}
.main-screen--header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
}
.main-screen--header .logo {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.main-screen--header .title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 2em;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(324deg, #e30613 0%, #c5000c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.main-screen--header .subtitle {
  font-size: 1.8em;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.main-screen--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.main-screen--footer .click-text {
  color: red;
  color: #fff;
  font-size: 1.6em;
}
.main-screen--footer img {
  max-height: 4.5em;
}

/* ------------------------------------------------------ header ------------------------------------------------------ */
.header {
  height: 8%;
  width: 100%;
  font-size: 1.1em;
  /* line-height: 1.3em; */
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  /* padding: 1em 5%; */
  padding: 0 5%;
  padding-bottom: 0.6em;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.header__logo {
  width: 30%;
  display: flex;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-family: "ExoBold";
  font-weight: 700;
}
.logo-main {
  display: none;
}
.logo-main img {
}
.logo-logo {
  display: none;
  align-items: center;
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  -webkit-background-clip: text;
  padding-right: 20px;
}
.logo-active {
  display: flex;
}
.logo-date {
  display: flex;
  align-items: center;
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  -webkit-background-clip: text;
  text-wrap: nowrap;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  width: 60%;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.navbar-item {
  display: flex;
  align-items: center;
  background: black;
  transition: all 0.3s ease;
  -webkit-background-clip: text;
  cursor: pointer;
}
.navbar-send-bussines {
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  -webkit-background-clip: text;
}
.navbar-contacts {
  background: linear-gradient(324deg, #e30613 0%, #c5000c 100%);
  -webkit-background-clip: text;
}
.navbar-item:hover {
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  -webkit-background-clip: text;
}

/* ------------------------------------------------------ sliders ------------------------------------------------------ */
.slider {
  width: 100%;
  height: 100%;
}
.swiper {
}
.swiper .swiper-pagination {
  right: 2% !important;
  border-radius: 141.316px;
  padding: 0.6em 0.4em;
  background: #fff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
}
.swiper .swiper-pagination-bullet {
  width: 1em !important;
  height: 1em !important;
  background: #373737;
  margin: 1em 0 !important;
  box-shadow: 0em .1em .5em #222121;
}
.swiper .swiper-pagination-bullet-active {
  width: 1em !important;
  height: 1em !important;
  border: 0.2em solid red !important;
  background-color: transparent !important;
  box-shadow: 0em .1em .3em red;
}

.swiper-staff {
  /* height: 50%; */
  width: 80%;
  overflow: hidden;
  /* position: relative; */
}
.swiper-projects {
  height: 50%;
  width: 80%;
  overflow: hidden;
  /* position: relative; */
}
.swiper-child__company {
  height: 100%;
  width: 90%;
  overflow: hidden;
  /* position: relative; */
}
.swiper-partners {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* position: relative; */
}
.swiper-modal {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-product-first,
.swiper-product-second {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 2em;
}
/* .swiper-test{
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
.swiper-staff-button-prev,
.swiper-staff-button-next,
.swiper-product-first-button-prev,
.swiper-product-first-button-next,
.swiper-product-second-button-prev,
.swiper-product-second-button-next {
  z-index: 4;
  font-size: 2em;
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: black;
  transition: all 0.3s;
}
.swiper-staff-button-prev:hover,
.swiper-staff-button-next:hover,
.swiper-product-first-button-prev:hover,
.swiper-product-first-button-next:hover,
.swiper-product-second-button-prev:hover,
.swiper-product-second-button-next:hover {
  color: #751d23;
}
.swiper-staff-button-prev:active,
.swiper-staff-button-next:active,
.swiper-product-first-button-prev:active,
.swiper-product-first-button-next:active,
.swiper-product-first-button-prev:active,
.swiper-product-first-button-next:active {
  transition: none;
  color: #e30613;
}
.swiper-staff-button-next,
.swiper-product-first-button-next,
.swiper-product-second-button-next {
  right: 7%;
}

.swiper-staff-button-prev,
.swiper-product-first-button-prev,
.swiper-product-second-button-prev {
  left: 7%;
  transform: rotate(180deg);
}
.swiper-product-first-button-next,
.swiper-product-second-button-next {
  right: 0;
}
.swiper-product-first-button-prev,
.swiper-product-second-button-prev {
  left: 0;
  transform: rotate(180deg);
}

.button-gotop {
  position: absolute;
  bottom: 5%;
  right: 1.5%;
  padding: 0.7em;
  border: 0.1em solid #004a99;
  border-radius: 50%;
  z-index: 4;
  cursor: pointer;
}
.button-gotop .icon-arrow {
  color: #004a99;
  transform: rotate(-90deg);
  font-size: 1.3em;
}

/* ------------------------------------------------------ content------------------------------------------------------ */
.content {
  height: 92%;
  width: 100%;
}
.content section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0 5%;
}
.section-title {
  display: flex;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);

  align-items: center;
}
.section-title h1 {
  height: 100%;
  background: var(
    --1,
    linear-gradient(173deg, #004a99 0%, rgba(17, 107, 235, 0.91) 100%)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
    overflow-x: hidden;
}
.section-title  .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); 
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
  animation: flareAnimation 2s infinite linear; 
}

@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}
/* ------------------------------------------------------ first ------------------------------------------------------*/
.content-first {
  /* background-color: #004a99; */
}
.first-content {
  padding-left: 30%;
}
.content-first .section-title {
 
  display: flex;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);

  align-items: center;
}
.content-first h1 {
  font-size: 2.5em;
  height: 100%;
  background: linear-gradient(324deg, #e30613 0%, #c5000c 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first-subtitle {
  /* width: 60%; */
  font-weight: 600;
  font-size: 1.2em;
}
.first-button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 4px 4px rgba(0, 34, 71, 0.2);
  font-size: 1em;
  color: #194f9c;
  padding: 0.5em 1.5em;
  /* max-width: 15em; */
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}
.first-button:active {
  transform: scale(1.1);
}
.content-first .video {
  z-index: -1;
  position: absolute;
  top: -10%;
  bottom: -10%;
  right: 70%;
  left: -30%;
  border-radius: 50%;
  overflow: hidden;
}
.content-first .video img {
  height: 100%;
  width: 100%;
}
.content-first .map-wrapper {
  z-index: -1;
  position: absolute;
  top: -17%;
  bottom: -51%;
  left: -21%;
}
.content-first .map {
  height: 100%;
  width: 100%;
  position: relative;
}
.map img {
  height: 100%;
}
.location-map {
  position: absolute;
  display: flex;
}
.location-img {
  margin-right: 0.5em;
}
.location-title {
  font-size: 1.1em;
  font-weight: 700;
  color: #004a9b;
  display: flex;
  align-items: center;
}
.location-map-1 {
  top: 40%;
  left: 60%;
}
.location-map-2 {
  top: 46%;
  left: 64%;
}
.location-map-3 {
  top: 52%;
  left: 70%;
}
.ship-map {
  position: absolute;
}
.ship-img {
  display: flex;
  justify-content: center;
  margin-bottom: 0.1em;
}
.ship-title {
  color: #004a9b;
  font-size: 1em;
}
.ship-map-1 {
  top: 28%;
  left: 63%;
}
.ship-map-2 {
  top: 24%;
  left: 76%;
}
.ship-map-3 {
  top: 20%;
  left: 83%;
}
.ship-map-4 {
  top: 29%;
  left: 70%;
}
.ship-map-5 {
  top: 32%;
  left: 65%;
}
.ship-map-6 {
  top: 37%;
  left: 70%;
}
.ship-map-7 {
  top: 42%;
  left: 52%;
}
.ship-map-8 {
  top: 53.5%;
  left: 57%;
  display: flex;
  flex-direction: row-reverse;
}
.ship-map-9 {
  top: 56%;
  left: 57%;
  display: flex;
  flex-direction: row-reverse;
}
.ship-map-9 .ship-img,
.ship-map-8 .ship-img {
  margin-bottom: 0;
  margin-left: 0.3em;
}
.ship-map-10 {
  top: 57%;
  left: 69%;
}
.ship-map-11 {
  top: 63%;
  left: 53%;
}
/* ------------------------------------------------------ stats ------------------------------------------------------*/
.content-stats {
}

.stats-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 1em;
}
.card-stats {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

.card-stats .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10em;
}
.card-stats .card-text {
}
.card-stats .text-number {
  color: #004a9b;
  font-size: 3em;
  font-family: "ExoBold";
}
.card-stats .text-additional {
  font-size: 1em;
}
/* ------------------------------------------------------ staff ------------------------------------------------------*/
.content-staff {
}
.content-staff .section-title{
  padding-bottom: 1em;
}
.staff-title {
}
.staff-title h1 {
}
.card-staff {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5em;
}
.card-staff .card-top {
}
.card-staff .card-bottom {
}
.card-staff .card-avatar {
  display: flex;
  justify-content: center;
}
.card-staff img {
  max-height: 8em;
  object-fit: cover;
}
.card-staff .card-name {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: #c5000c;
}
.card-staff .card-position {
  text-align: center;
  font-size: 1.1em;
}
.card-staff .card-qr {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.card-staff .card-invite {
  text-align: center;
}

/* ------------------------------------------------------ services ------------------------------------------------------*/
.content-services {
  justify-content: space-between;
}
.services-subtitle {
  margin-bottom: 2em;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 5em;
}
.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-card .card-img {
  margin-bottom: 2em;
}
.services-card .card-content {
  text-align: center;
}
.services-card img {
  max-height: 8em;
}
.services-marquee {
  display: flex;
  padding-bottom: 1em;
}
.services-running__line {
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.running__line-dot {
  transform: translate(0, 30%);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #373737;
  margin-right: 0.5em;
  background: var(
    --1,
    linear-gradient(173deg, #004a99 0%, rgba(17, 107, 235, 0.91) 100%)
  );
}
.running__line-text {
  font-size: 1.1em;
  text-wrap: nowrap;
  margin-right: 1em;
  text-align: center;
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------------------------------------------ product ------------------------------------------------------*/
.content-product {
  /* overflow: auto !important; */
}

.product-part__section {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 5em; */
}
.tab-content--active {
  display: flex;
}
.product-part__section:last-child {
  margin-bottom: 0;
}
.product-tabs {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-part__section-title {
  display: flex;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  justify-content: center;
  padding: 0.3em 0.5em;
  transition: all 0.4s;
  opacity: 0.5;
  cursor: pointer;
}
.product-part__section-title:first-child {
  margin-right: 1em;
}
.tab-title--active {
  /* background-color: rgba(212, 200, 200, 0.9); */
  box-shadow: 4px 4px 4px 4px rgba(0, 34, 71, 0.2);
  border-radius: 5%;
  opacity: 1;
  text-decoration: underline;
}
.product-part__section-title div {
  font-size: 1em;
  text-transform: uppercase;
  background: linear-gradient(
    173deg,
    #004a99 0%,
    rgba(17, 107, 235, 0.91) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-part__section-subtitle {
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
  color: #373737;
}
.swiper-product-first .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-product {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
  padding:  15%;
}
.card-product .card-img {
  display: flex;
  justify-content: center;
  padding-bottom: 0.9em;
}
.card-product img {
  width: 100%;
  max-height: 9em;
}
.card-product .card-name {
  text-align: center;
  font-size: 1.34em;
  color: #e30613;
  padding-bottom: 0.7em;
}
.card-product .card-type {
  /* text-align: center; */
  font-size: 1.1em;
  color: #373737;
  padding-bottom: 0.7em;
}
.card-product .card-power {
  /* text-align: center; */
  font-size: 1.1em;
  color: #373737;
  padding-bottom: 0.7em;
}
/* ------------------------------------------------------ projects ------------------------------------------------------*/
.content-projects {
}
.card-project {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.8em;
}
.card-project .card-img {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.card-project img {
  max-height: 10em;
  height: 100%;
}
.card-project .card-text {
  text-align: center;
}
.projects-button {
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  color: #194f9c;
  text-align: center;
  padding: 1em 1.5em;
  border-radius: 63px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 4px 4px rgba(0, 34, 71, 0.2);
  cursor: pointer;
  transition: all 0.4s;
}
.projects-button:hover {
  background: rgba(212, 200, 200, 0.9);
  transform: scale(1.1);
}
/* ------------------------------------------------------ childrensCompany ------------------------------------------------------*/
.content-child__company {
}

.slide-child__company {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}
.card-child__company {
}
.card-child__company .card-img {
  display: flex;
  justify-content: center;
}
.card-child__company img {
  max-height: 11em;
}
.card-child__company .card-text {
  text-align: center;
  font-size: 1em;
}

/* ------------------------------------------------------ partners ------------------------------------------------------*/

.content-partners {
}

.slide-partners {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}
.card-partners {
}
.partners-subtitle {
  font-size: 1em;
  color: #373737;
  text-align: center;
  margin-bottom: 1em;
}
.card-partners .card-img {
  display: flex;
  justify-content: center;
}
.card-partners img {
  max-height: 6em;
}
.card-partners .card-text {
  text-align: center;
  font-size: 1em;
}

/* ------------------------------------------------------ modal ------------------------------------------------------*/

.btn {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.modal {
  background-color: #fff;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 2em;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}
.modal section {
  padding: 0.3em 1em;
}
.close-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2em;
  cursor: pointer;
}

/*---------------------------------------------------------------------- контент модального услуг и проектов ------------------------------------------------------*/
.product-modal {
  width: 90%;
  height: 70%;
}
.product-modal--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* pagination */
.swiper-modal-pagination {
  z-index: 6;
  display: flex;
  justify-content: center;
  position: absolute;
  /* width: fit-content !important; */
  height: 1em;
  /* border: 0.2em solid red ; */
  border-radius: 6%;

  /* left: 40% !important; */
  bottom: 10% !important;
}
.swiper-modal-pagination-bullet {
  display: block;
  width: 0.7em !important;
  height: 0.7em !important;
  background: #373737;
  border-radius: 50%;
  margin-right: 1em;
}
.swiper-modal-pagination-bullet-active {
  background: #004a9b;

  border: 0.1em solid #ffff;
}

.product-modal .swiper-staff-button-prev {
  left: 0;
}
.product-modal .swiper-staff-button-next {
  right: 0;
}

/*  */
.product-modal .card-slider {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.product-modal .card-img {
}
.product-modal img {
  height: 100%;
}
.product-modal .card-text {
}
.product-modal .section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.product-modal h1 {
  font-size: 1.5em;
}
.product-modal .text-description {
}

/*------------------------------------------------------------------------------------- контент модального дочерних компаний ------------------------------------------------------*/

.child-modal {
}
.modal .child-modal--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  padding: 3em 1.5em;
  position: relative;
}
.child-modal .card-img {
}
.child-modal .card-img img {
  height: 100%;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.child-modal .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.child-modal .section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.child-modal h1 {
  font-size: 2em;
}
.child-modal .text-description {
}
.child-modal .text-site {
  text-align: center;
  color: #e30613;
  font-size: 1.3em;
  font-weight: 700;
}
.child-modal .text-qr {
  display: flex;
  justify-content: center;
}
.child-modal .text-qr img {
}

/*------------------------------------------------------------------------------------- форма ------------------------------------------------------*/
.form {
  position: relative;
}
.form .section-title {
  display: flex;
  justify-content: center;
  /* margin-bottom: 1em; */
}
.form h1 {
  font-size: 1.5em;
}
.form-subtitle {
  text-align: center;
  margin: 2em 0;
}
.form-body {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 1em;
  align-items: center;
}

.body-block-input {
}
.input-title {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 600;
  color: #e30613;
}
.input-form {
  width: 100%;
  padding: 0.7em 1.1em;
  border-radius: 20px;
  border: 1px solid var(--unnamed, #373737);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 4px 6px rgba(0, 42, 83, 0.15);
  transition: all 0.3s;
}
.input-line {
  /* width: calc(100% -1em); */
  height: 0.04em;
  background-color: #373737;
  margin: 0 1.1em;
  transform: translate(0, -0.7em);
}
.form-qrtext {
  text-align: center;
}
.form-qrimg {
  display: flex;
  justify-content: center;
}
.form-qrimg img {
  max-height: 8em;
}
.form-checkbox {
  display: flex;
}

.form-button {
  font-size: 1.4em;
  font-weight: 600;
  color: #ffffff;
  padding: 0.6em 0;
  text-align: center;
  border-radius: 0.5em;
  background: var(
    --1,
    linear-gradient(173deg, #004a99 0%, rgba(17, 107, 235, 0.91) 100%)
  );
  box-shadow: 4px 4px 4px 4px rgba(0, 34, 71, 0.2);
  transition: all 0.3s;
}
.form-button:active {
  transform: scale(1.07);
}
.form-smallweight {
  padding: 2em;
  color: #656565;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
}

/*------------------------------------------------------ checkbox ------------------------------------------------------ */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1em !important;
  width: 1em !important;
  overflow: hidden;
}

.custom-radio {
  position: relative;
  padding-left: 2.5em;

  color: #373737;
  font-size: 1em;
}

.custom-radio span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  border: 2px solid blue;
  border-radius: 100%;
}

.custom-radio span::after {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  background: blue;
  border-radius: 100%;
  opacity: 0;
}

.custom-radio input:checked + span::after {
  opacity: 1;
}

.custom-file {
  display: block;
  margin: 30px 0;
}

.custom-file {
  background-color: green;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
/* backrounds */
.stats-radar {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 40%;
  width: 60em;
  height: 60em;
  /* background-color: #000; */
  opacity: 0.3;
  /* animation-name: rotation;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; */
  animation: rotation 30s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.stats-line-blue {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.stats-line-blue path {
  /* stroke: blue; */
  /* stroke-dasharray: 1000; */
  /* stroke-dashoffset: 100; */
  /* animation: draw 1s linear infinite; */
}
.stats-line-red {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.stats-line-red path {
  animation: draw 10s linear infinite;
}
@keyframes draw {
  0% {
    /* stroke-dasharray: 10; */
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    /* stroke-dasharray: 1; */
    stroke-dashoffset: 100;
  }
}
#canvas {
  width: 100vw;
  height: 100vh;
}
